<!DOCTYPE html>
<html>
    <head>
        <title>Data</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th,
            td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #f2f2f2;
            }
            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
            tr:nth-child(odd) {
                background-color: #e8e8e8;
            }
            tr:hover {
                background-color: #27ae60;
            }
        </style>
    </head>
    <body>
        <div
            class="z-[100] sticky top-0 bg-[#27ae60] border-b-2 border-black/50"
        >
            <nav class="flex justify-between items-center px-20 py-3">
                <div class="flex items-center">
                    <svg
                        class="icon icon-tabler icon-tabler-book-2 w-10 text-[#219150]"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                        ></path>
                        <path
                            d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z"
                        ></path>
                        <path d="M19 16h-12a2 2 0 0 0 -2 2"></path>
                        <path d="M9 8h6"></path>
                    </svg>
                    <button class="text-white font-bold text-2xl">
                        Data Mining
                    </button>
                </div>
                <div class="flex items-center">
                    <a
                        href="/"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >Home</a
                    >
                    <a
                        href="/data"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >Data</a
                    >
                    <a
                        href="/preprocessing"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >Preprocessing</a
                    >
                    <a
                        href="/modelling"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >Modelling</a
                    >

                    <a
                        href="/predict"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >Prediction</a
                    >
                    <a
                        href="/about-me"
                        class="px-4 py-1 text-white hover:underline rounded-full ml-10"
                        >About Me</a
                    >
                </div>
            </nav>
        </div>

        <div>
            <div
                class="px-32 py-8 min-h-[78vh] bg-[url('images/banner-bg.jpg')]"
            >
                <h1 class="mb-5 text-[#27ae60] text-center text-2xl font-bold">
                    Dataset Anemia
                </h1>
                <div class="border-2 border-black/20 shadow">
                    {{ data_html|safe }}
                </div>
            </div>
        </div>

        <div class="px-32 py-5 bg-[#27ae60]">
            <div class="flex justify-between py-5 font-medium">
                <h1>&copy; 2023 Data Mining</h1>
                <a href="#">Rizki Ardian Samudra</a>
            </div>
        </div>
    </body>
</html>
